<!DOCTYPE html>
<html>
  <title>Mi Porfolio - About</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <body>
    <div class="mvc-top">
      <%- include('../views/partial/mvc-top.ejs') %> 
    </div>

    <div class="bgimg-2 mvc-display-container mvc-opacity-min" id="home">
      <div class="mvc-display-middle" style="white-space: nowrap">
        <span
          class="mvc-center mvc-padding-large mvc-black mvc-xlarge mvc-wide mvc-animate-opacity"
          >ABOUT</span
        >
      </div>
    </div>

    <div class="mvc-content mvc-container mvc-padding-64" id="about">
      <%- include('../views/partial/about-mvc.ejs') %>
    </div>

     <!-- Footer -->
    <footer class="mvc-center mvc-black mvc-padding-64 mvc-opacity mvc-hover-opacity-off">
      <%- include('../views/partial/footer.ejs') %> 
    </footer>

    <script>
      // Change style of navbar on scroll
      window.onscroll = function () {
        myFunction();
      };
      function myFunction() {
        var navbar = document.getElementById("myNavbar");
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          navbar.className =
            "mvc-bar" + " mvc-card" + " mvc-animate-top" + " mvc-white";
        } else {
          navbar.className = navbar.className.replace(
            " mvc-card mvc-animate-top mvc-white",
            ""
          );
        }
      }
    </script>
  </body>
</html>
